Repository dhinta/temp_mfe: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Auth, Build Header, Build Shell

Jenkinsfile:

pipeline { 
    agent any 
    environment { 
        DOMAIN = 'http://localhost:8081'
    }
    triggers {
        githubPush()
    }
    stages {
        stage('Build Auth') { 
            when {
                changeset "react-auth/**"
            }
            steps {
                dir('react-auth') {  
                    echo "auth app ...."
                    bat 'git pull origin master'
                    bat 'npm i'
                    bat 'npm run build'
                }
            }
        }
        stage('Build Header') { 
            when {
                changeset "react-header/**"
            }
            steps {
                dir('react-header') {  
                    echo "header app ...."
                    bat 'git pull origin master'
                    bat 'npm i'
                    bat 'npm run build'
                }
            }
        }
        stage('Build Shell') { 
            when {
                changeset "webc-container/**"
            }
            steps {
                dir('webc-container') {  
                    echo "shell app ...."
                    bat 'git pull origin master'
                    bat 'npm i'
                    bat 'npm run build'
                }
            }
        }
        stage('Test'){
            steps {
                echo "unit testing ...."
            }
        }
        stage('Deploy') {
            steps {
                echo "deploy"
            }
        }
    }
}

change in shell
  webc-container/public/index.html
Due: Build Shell

parallel build for apps
  Jenkinsfile
Due: none

testing
  react-auth/src/bootstrap.js
  webc-container/src/bootstrap.js
Due: Build Auth, Build Shell

stopped long running npm install for now
  Jenkinsfile
Due: none

nested stage wapped
  Jenkinsfile
Due: none

jenkins move to s3
  Jenkinsfile
Due: none

for changes to run the steps
  react-auth/src/bootstrap.js
  react-header/src/bootstrap.js
  webc-container/src/bootstrap.js
Due: Build Auth, Build Header, Build Shell

change duplicate stage name
  Jenkinsfile
Due: none

sample change for run steps
  react-auth/src/bootstrap.js
  react-header/src/bootstrap.js
  webc-container/src/bootstrap.js
Due: Build Auth, Build Header, Build Shell

chnge to run steps
  react-auth/src/bootstrap.js
  react-header/src/bootstrap.js
  webc-container/src/bootstrap.js
Due: Build Auth, Build Header, Build Shell

commented tar
  Jenkinsfile
Due: none

change to ru steps
  react-auth/src/bootstrap.js
  react-header/src/bootstrap.js
  webc-container/src/bootstrap.js
Due: Build Auth, Build Header, Build Shell

jenkins change for var
  Jenkinsfile
Due: none

change to run steps
  react-auth/src/bootstrap.js
  react-header/src/bootstrap.js
  webc-container/src/bootstrap.js
Due: Build Auth, Build Header, Build Shell

test
  Jenkinsfile
Due: none

run steps
  react-auth/src/bootstrap.js
  react-header/src/bootstrap.js
  webc-container/src/bootstrap.js
Due: Build Auth, Build Header, Build Shell

jenkins
  Jenkinsfile
Due: none

changes
  react-auth/src/bootstrap.js
  react-header/src/bootstrap.js
  webc-container/src/bootstrap.js
Due: Build Auth, Build Header, Build Shell

path remove trailing slash
  Jenkinsfile
Due: none

change in deploy location
  Jenkinsfile
Due: none

deploy path updated
  react-auth/config/webpack.dev.js
  react-auth/config/webpack.prod.js
  react-auth/package.json
  react-auth/src/bootstrap.js
  react-auth/src/libs/history.js
  react-header/config/webpack.dev.js
  react-header/config/webpack.prod.js
  react-header/libs/history.js
  react-header/package.json
  react-header/src/bootstrap.js
  webc-container/components/App.js
  webc-container/config/webpack.dev.js
  webc-container/config/webpack.prod.js
  webc-container/package.json
  webc-container/public/index.html
  webc-container/src/bootstrap.js
Due: Build Auth, Build Header, Build Shell

to run build
  react-auth/src/bootstrap.js
  react-header/src/bootstrap.js
  webc-container/components/App.js
Due: Build Auth, Build Header, Build Shell

to run build
  react-auth/src/components/App.js
  react-header/src/components/App.js
  webc-container/components/App.js
Due: Build Auth, Build Header, Build Shell

change in jenkis
  Jenkinsfile
Due: none

to re run
  react-auth/src/components/App.js
  react-header/src/components/App.js
  webc-container/components/App.js
Due: Build Auth, Build Header, Build Shell

change in jenkins
  Jenkinsfile
Due: none

console to re run
  react-auth/src/components/App.js
  react-header/src/components/App.js
  webc-container/components/App.js
Due: Build Auth, Build Header, Build Shell

re run
  react-auth/src/components/App.js
  react-header/src/components/App.js
  webc-container/components/App.js
Due: Build Auth, Build Header, Build Shell
